#main_color{
    background-color: aquamarine;
    width: 100%;    
    height:90vh;
}

button {
    float: left;
    height: 10vh;
    width: 40vw;
}


#next{
    float:left; 
    height: 35px;
    width: 18.45vw;
}
#total{
    float:left; 
    height: 35px;
    width: 18.45vw;
}
#exit {
    background-color: rgb(48, 49, 51);
    width: 5%;
    height: 30px;
    border-radius: 10px;
}