body{
    background-color: wheat;
}

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 8fr 2fr;
    grid-template-areas:
        "header north right"
        "main main main"
        "left left middle";
}

.grid-item-settings{
    grid-area: north;
}

.grid-item-color{
    grid-area: main;
    font-size: 100px;
    text-align: center;
    background-color: white;
    padding: 120px 0 0 0;
    margin: 10px 0 20px 0;
}

.btn{
    background: #3D4C53;
    overflow: hidden;
    text-align : center;
    transition : .2s;
    cursor : pointer;
    border-radius: 15px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}



.btn-txt{
    font-size: 24px;
    color : white;
}

.btn:active { /*Clicked and held*/
    box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

#start{
    grid-area:left;
}

#reset{
    grid-area: middle;
    background-color: red;
}


.grid-item-return{
    grid-area: header;
    background: #3D4C53;
    overflow: hidden;
    text-align : center;
    cursor : pointer;
    border-radius: 10px;
}

.grid-item-return a{
    color: white;
    text-decoration: none;
    padding: 5px;
}


.item-child-total{
    grid-area: right;
    background-color: darkslategrey;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 15px 0 0 0;
    border-radius: 10px;
}

