body{
    margin:0;
}

div.terminal{
    position: absolute;
    font-size: 2vh;
    background-color: black;
    width: 100%;
    height: calc(100% - 50px);
}
#term{
    height: inherit;
    width: 98%;
    background-color: black;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}

